<footer class="footer" data-background-color="black">
  <div class="container">
    <br>
    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/gaudiGraficayLibreria" target="_blank">
        <i class="fa fa-facebook-f mr-3 ml-3"></i>
      </a>

      <a href="https://www.instagram.com/gaudigrafica/" target="_blank">
        <i class="fa fa-instagram mr-3 ml-3"></i>
      </a>

      <a href="mailto:gaudiploteos@gmail.com" target="_blank">
        <i class="fa fa-envelope mr-3 ml-3"></i>
      </a>

      <a href="https://www.youtube.com/user/gaudiploteos/playlists?view_as=subscriber" target="_blank">
        <i class="fa fa-youtube mr-3 ml-3"></i>
      </a>

      <a href="https://plus.google.com/+Gaud%C3%ADGrafica" target="_blank">
        <i class="fa fa-google mr-3 ml-3"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      <div class="row">
        <div class="col-md-4">
          <a href="tel:+543514604806">
            0351 - 4604806
          </a>
        </div>
        <div class="col-md-4">
          <a href="https://www.google.com.ar/maps/place/Gaud%C3%AD+Gr%C3%A1fica+y+Librer%C3%ADa+T%C3%A9cnica/@-31.4277766,-64.191176,17z/data=!4m13!1m7!3m6!1s0x9432a28eca91a0dd:0xab8b7af0df4945bb!2sIndependencia+1036,+X5000IUV+C%C3%B3rdoba!3b1!8m2!3d-31.4277812!4d-64.1889873!3m4!1s0x9432a28ecca7e4c1:0x12099fdba69c7da1!8m2!3d-31.4277683!4d-64.1892832"
            title="Ubicación en Google Maps" target="_blank">
            Independencia 1036
          </a>
        </div>
        <div class="col-md-4">
          © 2019 Copyright:
          <a href="https://www.facebook.com/erisoft.cordoba" target="_blank"> Erisoft </a>
        </div>
      </div>
    </div>
    <!--/.Copyright-->
  </div>

</footer>
