<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>

        <!-- Hamburger Icon -->
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- Links -->
    <div class="collapse navbar-collapse">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" id="1" href="#products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" id="2" href="#tesis">Tesis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" id="3" href="#faq">Preguntas frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" id="4" href="#contact">Contactanos</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.facebook.com/gaudiGraficayLibreria" class="nav-link" rel="tooltip" data-placement="bottom" data-original-title="Seguinos en Facebook"  target="_blank">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/gaudigrafica" class="nav-link" rel="tooltip" data-placement="bottom" data-original-title="Seguinos en Instagram" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>

    </div>


  </div>
</nav>
