<div class="section section-basic">
  <div class="container">
    <div class="title">
      <h2>Productos</h2>
    </div>
    <h3>Recorré nuestro catálogo de productos y hacé click en las fotos para más información.</h3>
    <br>

    <div class="row">
      <div class="col-md-4" *ngFor="let product of products; index as i">

        <!--Figure trigger modal-->
        <figure>
          <img 
            [src]="product.smallImg" 
            class="img-fluid" 
            [alt]="product.nombre" 
            style="width: 400px" 
            data-toggle="modal"
            (click)="sendProduct(i)"
            [attr.data-target]="'#' + i + 'mod'">
        </figure>

      </div>
    </div>
  </div>
</div>


